USE [KFQS_MES_2021]
GO
/****** Object:  StoredProcedure [dbo].[24PP_StockPP_U1]    Script Date: 2021-06-22 오후 5:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		홍건의
-- Create date: 2021-06-10
-- Description:	조회
-- =============================================
CREATE PROCEDURE [dbo].[24PP_StockPP_U1]
	@PLANTCODE  VARCHAR(10) 
	,@MATLOTNO     VARCHAR(30) 
	,@ITEMCODE  VARCHAR(30)
	,@QTY       FLOAT 
	,@UNITCODE  VARCHAR(30)
	,@WORKERID  VARCHAR(10)
	
	,@LANG      VARCHAR(5) = 'OK'
	,@RS_CODE   VARCHAR(1)   OUTPUT
	,@RS_MSG    VARCHAR(200) OUTPUT

AS
BEGIN TRY
	
	DELETE 
	FROM TB_StockPP
	WHERE PLANTCODE = @PLANTCODE
		    AND LOTNO  = @MATLOTNO


	DECLARE @LD_NOWTIME DATETIME
	       ,@LS_NOWDATE VARCHAR(10)
	    SET @LD_NOWTIME = GETDATE()
		SET @LS_NOWDATE = CONVERT(VARCHAR,GETDATE(),23)

	DECLARE @INOUTSEQ_PP    INT
  SELECT @INOUTSEQ_PP = ISNULL(MAX(INOUTSEQ),0) + 1
    FROM TB_StockPPrec WITH(NOLOCK)
   WHERE PLANTCODE = @PLANTCODE
     AND RECDATE = @LS_NOWDATE

  INSERT INTO TB_StockPPrec ( PLANTCODE, INOUTSEQ, RECDATE, LOTNO, ITEMCODE, WHCODE,  INOUTFLAG, INOUTQTY, UNITCODE, INOUTCODE, MAKEDATE, MAKER)
   VALUES                   (@PLANTCODE, @INOUTSEQ_PP, @LS_NOWDATE, @MATLOTNO, @ITEMCODE, 'WH003', 'OUT', @QTY, @UNITCODE, '25', @LD_NOWTIME ,@WORKERID)



	SELECT @INOUTSEQ_PP = ISNULL(MAX(@INOUTSEQ_PP),0)+1
	  FROM TB_StockMMrec WITH (NOLOCK)
	 WHERE PLANTCODE = @PLANTCODE
	   AND INOUTDATE = @LS_NOWDATE

   INSERT INTO TB_StockMMrec ( PLANTCODE, MATLOTNO, INOUTCODE, INOUTQTY, INOUTDATE, INOUTWORKER, INOUTSEQ, WHCODE,INOUTFLAG ,MAKEDATE, MAKER)
	VALUES ( @PLANTCODE, @MATLOTNO , '25'     , @QTY    , @LS_NOWDATE,@WORKERID ,@INOUTSEQ_PP,'WH001','IN',  @LD_NOWTIME, @WORKERID)
	 SELECT @RS_CODE = 'S'

  INSERT INTO TB_StockMM
	( PLANTCODE, MATLOTNO, WHCODE, ITEMCODE, STOCKQTY, UNITCODE, MAKEDATE, MAKER)
	VALUES
	( @PLANTCODE, @MATLOTNO, 'WH001', @ITEMCODE, @QTY, @UNITCODE, @LD_NOWTIME, @WORKERID)


END TRY

BEGIN CATCH
     SELECT  @RS_MSG = ERROR_MESSAGE()
     SELECT  @RS_CODE = 'E'                 
END CATCH   



GO
