USE [KFQS_MES_2021]
GO
/****** Object:  StoredProcedure [dbo].[19PP_Stock_PP_S1]    Script Date: 2021-06-22 오후 5:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		장준기
-- Create date: 2021-06-10
-- Description:	공정 창고 재고 관리
-- =============================================
CREATE PROCEDURE [dbo].[19PP_Stock_PP_S1]
     @PLANTCODE   VARCHAR(10),     --공장 코드
	 @LOTNO		  VARCHAR(30),	   --LOT 번호
	 @ITEMTYPE    VARCHAR(20),	   --품목 타입

	 --패키지 DB helper 내부에 자동으로 추가되도록 시스템을 만들어 뒀음
	 --parameter 까먹지 말고 설정해주어야한다.
     @LANG	  VARCHAR(10) ='KO',   --언어
     @RS_CODE VARCHAR(10) OUTPUT,  --성공 여부
     @RS_MSG  VARCHAR(200) OUTPUT  --성공 관련 메세지

AS
BEGIN
	SELECT 0                               AS CHK
	     , A.PLANTCODE                     AS PLANTCODE
		 , A.ITEMCODE                      AS ITEMCODE
		 , B.ITEMNAME					   AS ITEMNAME
		 , B.ITEMTYPE					   AS ITEMTYPE
		 , A.LOTNO					       AS LOTNO
		 , A.STOCKQTY					   AS STOCKQTY
		 , A.UNITCODE					   AS UNITCODE
		 , A.WHCODE						   AS WHCODE
	  FROM TB_StockPP A WITH(NOLOCK) 
	  LEFT JOIN TB_ItemMaster B 
	    ON A.PLANTCODE= B.PLANTCODE
	   AND A.ITEMCODE = B.ITEMCODE

	 WHERE A.PLANTCODE LIKE '%'+ @PLANTCODE + '%'
	   AND B.ITEMTYPE  LIKE '%'+ @ITEMTYPE  + '%'
	   AND A.LOTNO     LIKE '%'+ @LOTNO     + '%'
	   AND ISNULL(STOCKQTY,0) <> 0


END

GO
