USE [KFQS_MES_2021]
GO
/****** Object:  StoredProcedure [dbo].[USP_SY0700_I1]    Script Date: 2021-06-22 오후 5:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_SY0700_I1]
(
	  @PROGRAMID		VARCHAR(10)
	, @WORKERID	    VARCHAR(20)
	, @WORKTYPE	    VARCHAR(20)
	, @IP			        VARCHAR(20)
	, @COMNAME		VARCHAR(30)
    , @LANG      VARCHAR(10)='KO'
	, @RS_CODE		VARCHAR(10)      OUTPUT
	, @RS_MSG		    VARCHAR(100)     OUTPUT
)
AS
	SELECT @PROGRAMID 	= LTRIM(RTRIM(ISNULL(@PROGRAMID, '')))
		 , @WORKERID 	= LTRIM(RTRIM(ISNULL(@WORKERID,  '')))
		 , @WORKTYPE 	= LTRIM(RTRIM(ISNULL(@WORKTYPE,  '')))
		 , @IP 		= LTRIM(RTRIM(ISNULL(@IP, 		  '')))
		 , @COMNAME 	= LTRIM(RTRIM(ISNULL(@COMNAME,   '')))
/**********************************************************************************************
1. 작성자 : 류우석
2. 최초 작성 날짜 : 2012년 11월 27일
3. 최종 수정 날짜 : 2012년 11월 27일 
4. 기능 : 작업자 UI 사용내역 등록
5. 연관 테이블 : TSY0700
6. 연관 폼 : 모든 UI 폼
--SELECT * FROM TSY0700
**********************************************************************************************/
BEGIN
	BEGIN TRY
		DECLARE @DNOWDATE DATETIME
		DECLARE @VRECDATE VARCHAR(10)
		DECLARE @V_SEQ BIGINT
		
		SELECT @DNOWDATE = GETDATE()
		
		SELECT @VRECDATE = DBO.FN_RECDATE(@DNOWDATE)

		INSERT INTO TSY0700 ( PROGID, WORKDATE, WORKERID, SEQ, WORKTYPE, WORKTIME, CONNECTIP )
				SELECT @PROGRAMID, @VRECDATE, @WORKERID
					, ISNULL( (SELECT MAX(SEQ) + 1 
								FROM TSY0700 
								WHERE PROGID = @PROGRAMID
								  AND WORKDATE = @VRECDATE
								  AND WORKERID = @WORKERID), 1)
					, @WORKTYPE, @DNOWDATE, @IP
		
		BEGIN TRY
			IF LEFT(@PROGRAMID, 2) <> 'SY'
			IF @WORKTYPE = 'LOGIN'
			BEGIN
				INSERT INTO TSY0500(WORKERID, WORKERNAME, SDATE, STIME, SSTAMP, EDATE, ETIME, ESTAMP, STATE, 
       								PROGID, RUNTIME, RUNSTR, IPADDRESS, COMNAME, REMARK)
       						 VALUES(@WORKERID, DBO.FN_WORKERNAME(@WORKERID), CONVERT(VARCHAR, @DNOWDATE, 23), CONVERT(VARCHAR, @DNOWDATE, 24), @DNOWDATE, NULL, NULL, NULL, @WORKTYPE,
       						 		@PROGRAMID, 0, '0', @IP, @COMNAME, NULL)
			END
			ELSE IF @WORKTYPE = 'LOGOUT'
			BEGIN
				SELECT TOP 1 @V_SEQ = SEQNO
				  FROM TSY0500
				 WHERE WORKERID = @WORKERID
				   AND PROGID   = @PROGRAMID
				   AND STATE    = 'LOGIN'
				   AND EDATE IS NULL
				 ORDER BY SEQNO DESC
				 
				IF ISNULL(@V_SEQ, '') <> ''
				BEGIN
					UPDATE TSY0500
					   SET EDATE = CONVERT(VARCHAR, @DNOWDATE, 23)
					      ,ETIME = CONVERT(VARCHAR, @DNOWDATE, 24)
					      ,ESTAMP = @DNOWDATE
					      ,RUNTIME = DATEDIFF(S, SSTAMP, @DNOWDATE)
					      ,RUNSTR = DBO.FN_GETHHMISS(DATEDIFF(S, SSTAMP, @DNOWDATE))
					 WHERE SEQNO = @V_SEQ
				END
			END
			ELSE IF @WORKTYPE = 'OPEN'
			BEGIN
				INSERT INTO TSY0500(WORKERID, WORKERNAME, SDATE, STIME, SSTAMP, EDATE, ETIME, ESTAMP, STATE, 
       								PROGID, RUNTIME, RUNSTR, IPADDRESS, COMNAME, REMARK)
       						 VALUES(@WORKERID, DBO.FN_WORKERNAME(@WORKERID), CONVERT(VARCHAR, @DNOWDATE, 23), CONVERT(VARCHAR, @DNOWDATE, 24), @DNOWDATE, NULL, NULL, NULL, @WORKTYPE,
       						 		@PROGRAMID, 0, '0', @IP, @COMNAME, NULL)
			END
			ELSE IF @WORKTYPE = 'CLOSE'
			BEGIN
				SELECT TOP 1 @V_SEQ = SEQNO
				  FROM TSY0500
				 WHERE WORKERID = @WORKERID
				   AND PROGID   = @PROGRAMID
				   AND STATE    = 'OPEN'
				   AND EDATE IS NULL
				 ORDER BY SEQNO DESC
				 
				IF ISNULL(@V_SEQ, '') <> ''
				BEGIN
					UPDATE TSY0500
					   SET EDATE = CONVERT(VARCHAR, @DNOWDATE, 23)
					      ,ETIME = CONVERT(VARCHAR, @DNOWDATE, 24)
					      ,ESTAMP = @DNOWDATE
					      ,RUNTIME = DATEDIFF(S, SSTAMP, @DNOWDATE)
					      ,RUNSTR = DBO.FN_GETHHMISS(DATEDIFF(S, SSTAMP, @DNOWDATE))
					 WHERE SEQNO = @V_SEQ
				END
			END
			ELSE
			BEGIN
				INSERT INTO TSY0500(WORKERID, WORKERNAME, SDATE, STIME, SSTAMP, EDATE, ETIME, ESTAMP, STATE, 
       								PROGID, RUNTIME, RUNSTR, IPADDRESS, COMNAME, REMARK)
       						 VALUES(@WORKERID, DBO.FN_WORKERNAME(@WORKERID), CONVERT(VARCHAR, @DNOWDATE, 23), CONVERT(VARCHAR, @DNOWDATE, 24), @DNOWDATE, CONVERT(VARCHAR, @DNOWDATE, 23), CONVERT(VARCHAR, @DNOWDATE, 24), @DNOWDATE, @WORKTYPE,
       						 		@PROGRAMID, 0, '0', @IP, @COMNAME, NULL)
			END
		END TRY
		
		BEGIN CATCH
			
			SELECT @RS_CODE = 'E'
			SELECT @RS_MSG = ERROR_MESSAGE()
		END CATCH
	END TRY
	BEGIN CATCH
		INSERT INTO ERRORMESSAGE ( NAME, ERROR, ELINE, MESSAGE, DATE )
			SELECT ERROR_PROCEDURE() AS ERRORPROCEDURE
				 , ERROR_NUMBER() AS ERRORNUMBER
				 , ERROR_LINE() AS ERRORLINE
				 , ERROR_MESSAGE() AS ERRORMESSAGE
				 , GETDATE()
		
		SELECT @RS_CODE = 'E'
		SELECT @RS_MSG = ERROR_MESSAGE()
	END CATCH
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DESCRIPTION', @value=N'[시스템]사용정보' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'USP_SY0700_I1'
GO
