USE [KFQS_MES_2021]
GO
/****** Object:  StoredProcedure [dbo].[SPROC_MenuList_I]    Script Date: 2021-06-22 오후 5:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPROC_MenuList_I]
(
	   @GRID			   VARCHAR(3)
	  ,@MENUNAME	       VARCHAR(50)
	  ,@PARMENUID		   INT
	  ,@SORT			   INT
	  ,@PROGRAMID          VARCHAR(20)
	  ,@MENUTYPE		   VARCHAR(1)
	  ,@USEFLAG			   VARCHAR(1)
	  ,@WORKERID		   VARCHAR(10)
      ,@LANG         	   VARCHAR(10)='KO'
      ,@RS_CODE            VARCHAR(1)      OUTPUT
      ,@RS_MSG             VARCHAR(200)    OUTPUT 
)
AS
BEGIN
    BEGIN TRY 
        DECLARE @LI_MENUID INT
		IF (ISNULL(@GRID,'') = '1LV')
		BEGIN
			SELECT @LI_MENUID = MAX(MENUID) + 1
			  FROM SysMenuList WITH(NOLOCK)
			 WHERE MENUID BETWEEN 101 AND 199
			   AND WORKERID = @WORKERID
			SET @LI_MENUID = ISNULL(@LI_MENUID,102)
		END
		ELSE IF (ISNULL(@GRID,'') = '2LV')
		BEGIN
			SELECT @LI_MENUID = MAX(MENUID) + 1
			  FROM SysMenuList WITH(NOLOCK)
			 WHERE MENUID BETWEEN 201 AND 299
			   AND WORKERID = @WORKERID
			SET @LI_MENUID = ISNULL(@LI_MENUID,202)
		END
		ELSE IF (ISNULL(@GRID,'') = '3LV')
		BEGIN
			SELECT @LI_MENUID = MAX(MENUID) + 1
			  FROM SysMenuList WITH(NOLOCK)
			 WHERE MENUID BETWEEN 301 AND 399
			   AND WORKERID = @WORKERID
		    SET @LI_MENUID = ISNULL(@LI_MENUID,302)
		END
		INSERT INTO SysMenuList ( MENUID,     WORKERID, MENUNAME,  PARMENUID,  SORT,  PROGRAMID,  MENUTYPE,  USEFLAG,  SYSTEMID,    MAKER,		MAKEDATE)
						 VALUES ( @LI_MENUID, @WORKERID, @MENUNAME, @PARMENUID, @SORT, @PROGRAMID, @MENUTYPE, @USEFLAG, 'DC_MES',   @WORKERID,  GETDATE()) 

	    SELECT @RS_CODE = 'S'
	END TRY
	
	BEGIN CATCH
	    SELECT @RS_CODE = 'E'
		SELECT @RS_MSG 	= ERROR_MESSAGE()
	END CATCH
	
	SET NOCOUNT OFF;
END




GO
