USE [KFQS_MES_2021]
GO
/****** Object:  StoredProcedure [dbo].[USP_LineMaster_POP]    Script Date: 2021-06-22 오후 5:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_LineMaster_POP]

	
	 @PLANTCODE		VARCHAR(10)
	,@OPCODE		VARCHAR(20)
	,@OPNAME		VARCHAR(100)
	,@USEFLAG		VARCHAR(10)
    ,@LANG          VARCHAR(10)='KO'
	,@RS_CODE       VARCHAR(10) OUTPUT
    ,@RS_MSG        VARCHAR(30) OUTPUT  
AS

BEGIN
BEGIN TRY 

	SELECT PLANTCODE
	      ,WORKCENTERCODE
	      ,DBO.FN_TRANSLATE(@LANG, WORKCENTERNAME,'BM0400') AS OPNAME
	      ,USEFLAG FROM TB_WorkCenterMaster
		WHERE ISNULL(PLANTCODE,' ') LIKE '%' + @PLANTCODE + '%'
		AND ISNULL(WORKCENTERCODE,' ') LIKE '%' + @OPCODE + '%'
		AND ISNULL(DBO.FN_TRANSLATE(@LANG, WORKCENTERNAME,'BM0400') ,' ') LIKE '%' + @OPNAME + '%'
		AND ISNULL(USEFLAG,' ') LIKE '%' + @USEFLAG + '%'
		
SELECT @RS_CODE = 'S'
	END TRY
                                
	BEGIN CATCH
	    SELECT @RS_CODE = 'E'
		SELECT @RS_MSG 	= ERROR_MESSAGE()
		
	END CATCH                
END
GO
