USE [KFQS_MES_2021]
GO
/****** Object:  StoredProcedure [dbo].[02WM_StockWM_S1]    Script Date: 2021-06-22 오후 5:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		강현업
-- Create date: 2021-06-16
-- Description:	제품 재고 관리 및 상차 조회
-- =============================================
CREATE PROCEDURE [dbo].[02WM_StockWM_S1]
	 @PLANTCODE	     VARCHAR(10)
    ,@ITEMCODE	     VARCHAR(30)
    ,@LOTNO		     VARCHAR(30)
	,@STARTDATE	     VARCHAR(20)
	,@ENDDATE        VARCHAR(20)
	,@SHIPFLAG		 VARCHAR(1)

    ,@LANG           VARCHAR(10)  = 'KO'
    ,@RS_CODE        VARCHAR(1)   OUTPUT
    ,@RS_MSG         VARCHAR(200) OUTPUT
AS
BEGIN
	SELECT CASE WHEN A.SHIPFLAG = 'Y' THEN 1 ELSE 0 END    AS CHK
	      ,A.PLANTCODE						 AS PLANTCODE
		  ,A.ITEMCODE						 AS ITEMCODE
		  ,B.ITEMNAME						 AS ITEMNAME
		  ,ISNULL(A.SHIPFLAG, 'N')			 AS SHIPFLAG
		  ,A.LOTNO							 AS LOTNO
		  ,A.WHCODE                          AS WHCODE
		  ,A.STOCKQTY						 AS STOCKQTY
		  ,B.BASEUNIT						 AS UNITCODE
		  ,CONVERT(VARCHAR, A.MAKEDATE, 23)  AS MAKEDATE
		  ,A.MAKEDATE						 AS EDITDATE
		  ,A.MAKER							 AS EDITOR
	  FROM TB_StockWM A WITH(NOLOCK) LEFT JOIN TB_ItemMaster B WITH(NOLOCK)
											ON A.PLANTCODE = B.PLANTCODE
										   AND A.ITEMCODE  = B.ITEMCODE
     WHERE A.PLANTCODE = B.PLANTCODE
	   AND A.ITEMCODE = B.ITEMCODE
	   AND A.PLANTCODE LIKE '%' + @PLANTCODE + '%'
	   AND A.ITEMCODE  LIKE '%' + @ITEMCODE  + '%'
	   AND A.LOTNO     LIKE '%' + @LOTNO     + '%'
	   AND ISNULL(A.SHIPFLAG,'N')   LIKE '%' + @SHIPFLAG  + '%'
	   AND CONVERT(VARCHAR, A.MAKEDATE, 23) BETWEEN @STARTDATE AND @ENDDATE    
END
GO
