USE [KFQS_MES_2021]
GO
/****** Object:  StoredProcedure [dbo].[06MM_StockOUT_U1]    Script Date: 2021-06-22 오후 5:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		김얼
-- Create date: 2021-06-16
-- Description:	제품 재고 관리 및 상차 등록
-- =============================================
CREATE PROCEDURE [dbo].[06MM_StockOUT_U1]
	@FLAG				VARCHAR(30) OUTPUT
   ,@PLANTCODE			VARCHAR(10)
   ,@LOTNO				VARCHAR(30)
   ,@CARNO				VARCHAR(10)
   ,@ITEMCODE			VARCHAR(30)
   ,@STOCKQTY			VARCHAR(20)
   ,@CUSTCODE			VARCHAR(20)
   ,@WORKER				VARCHAR(10)
   ,@MAKER				VARCHAR(10)

   ,@LANG		 VARCHAR(5) = 'KO'
   ,@RS_CODE	 VARCHAR(1)   OUTPUT	
   ,@RS_MSG		 VARCHAR(200) OUTPUT
   

AS
BEGIN

	DECLARE @LD_NOWDATE DATETIME
		   ,@LS_NOWDATE VARCHAR(10)
		   ,@LS_WORKER  VARCHAR(20)
		   

	    SET @LD_NOWDATE = GETDATE() 
		SET @LS_NOWDATE = CONVERT(VARCHAR,@LD_NOWDATE,23)

	-- 상차 내역 업데이트
	UPDATE TB_StockWM
	   SET SHIPFLAG = 'Y'
	 WHERE PLANTCODE = @PLANTCODE
	   AND LOTNO     = @LOTNO
	IF(@FLAG = '0')
	BEGIN
	-- 상차 번호 채번
	DECLARE @LS_SHIPNO VARCHAR(20) 
	SET		@LS_SHIPNO = 'SHIP' + REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR,GETDATE(),120),'-',''),':',''),' ','')
	SET		@RS_MSG = @LS_SHIPNO
	-- 상차 내역 등록(공통)
	INSERT INTO TB_ShipWM (PLANTCODE,		SHIPNO,		CARNO,		SHIPDATE,		CUSTCODE,		WORKER,		MAKEDATE,		MAKER)
				   VALUES (@PLANTCODE,		@LS_SHIPNO,	@CARNO,		@LD_NOWDATE,	@CUSTCODE,		@WORKER,	@LS_NOWDATE,	@MAKER)
	END
	-- 상차 내역 등록(상세)
		  DECLARE @LI_SHIPSEQ INT
		   SELECT @LI_SHIPSEQ = ISNULL(MAX(SHIPSEQ),0)+1
		     FROM TB_SHIPWM_B WITH(NOLOCK)
		    WHERE PLANTCODE = @PLANTCODE
		      AND SHIPNO    = @LS_SHIPNO

	INSERT INTO TB_ShipWM_B(PLANTCODE,		SHIPNO,			SHIPSEQ,		LOTNO,		ITEMCODE,		SHIPQTY,		MAKEDATE,		MAKER)
					 VALUES(@PLANTCODE,		@RS_MSG  ,	@LI_SHIPSEQ,	@LOTNO,	   @ITEMCODE,		@STOCKQTY,		@LS_NOWDATE,	@MAKER)
		
	
END
GO
