USE [KFQS_MES_2021]
GO
/****** Object:  StoredProcedure [dbo].[21MM_StockOUT_U1]    Script Date: 2021-06-22 오후 5:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		최민준
-- Create date: 2021-06-08
-- Description:	자재 생산 출고 관리
-- =============================================
CREATE PROCEDURE [dbo].[21MM_StockOUT_U1]
	@PLANTCODE        VARCHAR(10),     
	@LOTNO            VARCHAR(30),     
	@ITEMCODE         VARCHAR(30),
	@QTY              FLOAT,           
	@UNITCODE         VARCHAR(5),      
	@WHCODE           VARCHAR(5),
	@STORAGELOCCODE   VARCHAR(10),
	@WORKERID         VARCHAR(10),

	-- 기본적으로 설정해줘야하는 3가지
	@LANG VARCHAR(10)  = 'KO',-- 언어
	@RS_CODE VARCHAR(10) OUTPUT,     -- 성공 여부
	@RS_MSG VARCHAR(200) OUTPUT     -- 성공 관련 메세지 
	
	
	AS
	BEGIN
    -- 자재 출고 이력 생성
	-- 출고 이력 순번 채번
   DECLARE  @INOUTSEQ INT
	SELECT  @INOUTSEQ = ISNULL(MAX(INOUTSEQ),0)+1 
      FROM  TB_StockMMrec WITH(NOLOCK)
     WHERE  PLANTCODE = @PLANTCODE
	   AND  INOUTDATE = CONVERT(VARCHAR,GETDATE(), 23); -- 현재 일자

	-- 생산 출고 이력 등록
	
	 INSERT TB_StockMMrec
   (PLANTCODE, MATLOTNO, INOUTCODE, INOUTQTY, INOUTDATE, INOUTWORKER, INOUTSEQ ,WHCODE,  STORAGELOCCODE,INOUTFLAG,MAKER,MAKEDATE)
	VALUES
   (@PLANTCODE,@LOTNO,'20', @QTY, CONVERT(VARCHAR,GETDATE()), @WORKERID, @INOUTSEQ, @WHCODE,@STORAGELOCCODE,'OUT',@WORKERID,CONVERT(VARCHAR,GETDATE(), 23))

    -- 자재 재고 삭제

	DELETE TB_StockMM
	WHERE PLANTCODE = @PLANTCODE
	   AND MATLOTNO = @LOTNO

	 -- 공정 재고 생성

	INSERT INTO TB_StockPP
	( PLANTCODE, LOTNO, ITEMCODE, WHCODE, STORAGELOCCODE, STOCKQTY,UNITCODE, MAKEDATE, MAKER)
	VALUES
	(@PLANTCODE, @LOTNO, @ITEMCODE,@WHCODE,@STORAGELOCCODE,@QTY, @UNITCODE , CONVERT(VARCHAR,GETDATE(), 23), @WORKERID)

	-- 공정 창고 입고이력 추가
    -- 일자 별 입고 이력 SEQ채번
	DECLARE @INOUTSEQ_PP INT , @RECDATE VARCHAR(30)
	SELECT @INOUTSEQ_PP = ISNULL(MAX(INOUTSEQ),0)+1
	  FROM TB_StockPPrec WITH(NOLOCK)
	 WHERE PLANTCODE = @PLANTCODE
	   AND @RECDATE  = CONVERT(VARCHAR,GETDATE(), 23)

	INSERT INTO TB_StockPPrec
	(PLANTCODE, INOUTSEQ,     RECDATE,LOTNO,ITEMCODE,WHCODE,STORAGELOCCODE,INOUTFLAG,INOUTQTY,UNITCODE,INOUTCODE,MAKEDATE,MAKER)
	VALUES
	(@PLANTCODE,@INOUTSEQ_PP,@RECDATE,@LOTNO,'20',  @WHCODE,@STORAGELOCCODE,'IN',@QTY,@UNITCODE,    '20',   CONVERT(VARCHAR,GETDATE(), 23),@WORKERID)
	
	SET @RS_CODE = 'S'
END
GO
