USE [KFQS_MES_2021]
GO
/****** Object:  StoredProcedure [dbo].[15WM_StockWM_U1]    Script Date: 2021-06-22 오후 5:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		이승수
-- Create date: 2021-06-16
-- Description:	제품 재고 관리 및 상차 등록
-- =============================================
CREATE PROCEDURE [dbo].[15WM_StockWM_U1] 
	 @PLANTCODE		VARCHAR(10)
	,@LOTNO			VARCHAR(30)  
	,@ITEMCODE		VARCHAR(20)
	,@CUSTCODE		VARCHAR(10)
	,@INOUTQTY		FLOAT
	,@CARNO			VARCHAR(20)
	,@WORKER		VARCHAR(20)
	,@SHIPNO        VARCHAR(30)
	,@MAKER			VARCHAR(20)


    ,@LANG			VARCHAR(10) = 'KO'
    ,@RS_CODE		VARCHAR(1)   OUTPUT
    ,@RS_MSG		VARCHAR(200) OUTPUT
AS
BEGIN
		--현재 시간 정의
	DECLARE @LD_NOWDATE	 DATETIME
		   ,@LS_NOWDATE  VARCHAR(10)
		SET @LD_NOWDATE = GETDATE()
		SET @LS_NOWDATE = CONVERT(VARCHAR,@LD_NOWDATE,23)



	-- 상차 내역 UPDATE
	UPDATE TB_StockWM
	   SET SHIPFLAG  = 'Y'
	      ,EDITDATE  = @LD_NOWDATE
		  ,EDITOR    = @WORKER
	 WHERE PLANTCODE = @PLANTCODE
	   AND LOTNO	 = @LOTNO

	
	DECLARE @LS_SHIPNO VARCHAR(30)  
	IF (ISNULL(@SHIPNO,'') = '')
	--상차내역 등록 (공통) 
	BEGIN
		--상차번호 채번 
		SET @LS_SHIPNO = 'SHIP' + REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR,GETDATE(),120),'-',''),':',''),' ','')  

		INSERT INTO TB_SHIPWM (PLANTCODE,	SHIPNO,   CARNO,    SHIPDATE,  CUSTCODE,     WORKER,    MAKEDATE, MAKER)
						VALUES(@PLANTCODE,@LS_SHIPNO,@CARNO, @LS_NOWDATE, @CUSTCODE,	@WORKER, @LD_NOWDATE, @MAKER)
		 
	END 

	--상차내역 등롱 (상세)
	DECLARE @LI_SHIPSEQ INT
	 SELECT @LI_SHIPSEQ = ISNULL(MAX(SHIPSEQ),0) + 1
	   FROM TB_SHIPWM_B WITH(NOLOCK) 
	  WHERE PLANTCODE	= @PLANTCODE 
	    AND SHIPNO	    = @LS_SHIPNO 
	 INSERT INTO TB_SHIPWM_B (PLANTCODE,	 SHIPNO,	SHIPSEQ,   LOTNO, ITEMCODE,   SHIPQTY,     MAKEDATE, MAKER) 
					VALUES  (@PLANTCODE, @LS_SHIPNO, @LI_SHIPSEQ, @LOTNO, @ITEMCODE, @INOUTQTY, @LD_NOWDATE, @MAKER)


	SET @RS_CODE	= 'S'
	SET @RS_MSG     = ISNULL(@LS_SHIPNO,@SHIPNO)
END


 
GO
