USE [KFQS_MES_2021]
GO
/****** Object:  StoredProcedure [dbo].[USP_SY0101_S1_W]    Script Date: 2021-06-22 오후 5:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_SY0101_S1_W]
(
    
     @PAGEINDEX     INT
    ,@SORTCOLUMNNAME  VARCHAR(50)
    ,@SORTORDERBY     VARCHAR(4)
    ,@NUMBEROFROWS    INT 
    ,@TOTALRECODRDS     INT     OUTPUT
    ,@WORKERID         VARCHAR(30)  
	,@SYSTEMID         VARCHAR(20)
    ,@LANG              VARCHAR(10)='KO'
    ,@RS_CODE           VARCHAR(1) OUTPUT
    ,@RS_MSG            VARCHAR(200) OUTPUT 
)
AS
BEGIN

    SELECT @WORKERID = LTRIM(RTRIM(ISNULL(@WORKERID, '')))
		 , @SYSTEMID = LTRIM(RTRIM(ISNULL(@SYSTEMID, '')))
		
  BEGIN TRY
  
      DECLARE @STARTROW INT
      DECLARE @ENDROW INT
      SET     @STARTROW = ((@PAGEINDEX-1) * @NUMBEROFROWS);
      SET     @ENDROW = @STARTROW + @NUMBEROFROWS -1
      
/* MS_SQL 2012 이상 버전에서 동작
         SELECT MENU.WORKERID    AS WORKERID
     ,MENU.MENUID         AS MENUID
    -- ,MENU.MENUNAME       AS MENUNAME
     ,DBO.FN_TRANSLATE(@LANG,MENU.MENUNAME,'MN') AS MENUNAME
     ,MENU.PARMENUID      AS PARMENUID
     ,MENU.SORT           AS SORT
     ,MENU.PROGRAMID      AS PROGRAMID
     ,MENU.MENUTYPE       AS MENUTYPE
     ,MENU.REMARK         AS REMARK
     ,MENU.USEFLAG        AS USEFLAG
     ,MENU.MAKER          AS MAKER
     ,MENU.EDITOR         AS EDITOR
     ,DBO.FN_TRANSLATE(@LANG,PROGRAM.PROGRAMNAME,'SY0100') AS PROGRAMNAME
     ,PROGRAM.PROGTYPE    AS PROGTYPE
     ,PROGRAM.INQFLAG     AS INQFLAG
     ,PROGRAM.NEWFLAG     AS NEWFLAG
     ,PROGRAM.DELFLAG     AS DELFLAG
     ,PROGRAM.SAVEFLAG    AS SAVEFLAG
     ,PROGRAM.EXCELFLAG   AS EXCELFLAG
     ,PROGRAM.PRNFLAG     AS PRNFLAG
     ,PROGRAM.NAMESPACE   AS NAMESPACE
     ,PROGRAM.FILEID      AS FILEID
     ,PROGRAM.REMARK      AS PROGRAMREMARK
    FROM TSY0200 MENU WITH(NOLOCK)   
    LEFT OUTER JOIN TSY0100 PROGRAM WITH(NOLOCK)  
     ON MENU.PROGRAMID = PROGRAM.PROGRAMID  
    AND  MENU.WORKERID  = PROGRAM.WORKERID  
   WHERE MENU.WORKERID = @WORKERID  
     AND MENU.SYSTEMID=@SYSTEMID
     
     ORDER BY MENU.SORT  
          OFFSET @STARTROW ROWS
          FETCH NEXT @NUMBEROFROWS ROWS ONLY
************************************************/   

/*************************2012 버전 이하 *****************/
      SELECT T.WORKERID    AS WORKERID
            ,T.MENUID         AS MENUID
        -- ,T.MENUNAME       AS MENUNAME
           ,T.MENUNAME AS MENUNAME
           ,T.PARMENUID      AS PARMENUID
           ,T.SORT           AS SORT
           ,T.PROGRAMID      AS PROGRAMID
           ,T.MENUTYPE       AS MENUTYPE
           ,T.REMARK         AS REMARK
           ,T.USEFLAG        AS USEFLAG
           ,T.MAKER          AS MAKER
           ,T.EDITOR         AS EDITOR
           ,T.PROGRAMNAME AS PROGRAMNAME
           ,T.PROGTYPE    AS PROGTYPE
           ,T.INQFLAG     AS INQFLAG
           ,T.NEWFLAG     AS NEWFLAG
           ,T.DELFLAG     AS DELFLAG
           ,T.SAVEFLAG    AS SAVEFLAG
           ,T.EXCELFLAG   AS EXCELFLAG
           ,T.PRNFLAG     AS PRNFLAG
           ,T.NAMESPACE   AS NAMESPACE
           ,T.FILEID      AS FILEID
           ,T.REMARK      AS PROGRAMREMARK
      FROM
      (SELECT ROW_NUMBER() OVER(ORDER BY MENU.SORT ) AS  ROWNO
           ,MENU.WORKERID    AS WORKERID
           ,MENU.MENUID         AS MENUID
        -- ,MENU.MENUNAME       AS MENUNAME
           ,DBO.FN_TRANSLATE(@LANG,MENU.MENUNAME,'MN') AS MENUNAME
           ,MENU.PARMENUID      AS PARMENUID
           ,MENU.SORT           AS SORT
           ,MENU.PROGRAMID      AS PROGRAMID
           ,MENU.MENUTYPE       AS MENUTYPE
           ,MENU.REMARK         AS REMARK
           ,MENU.USEFLAG        AS USEFLAG
           ,MENU.MAKER          AS MAKER
           ,MENU.EDITOR         AS EDITOR
           ,DBO.FN_TRANSLATE(@LANG,PROGRAM.PROGRAMNAME,'SY0100') AS PROGRAMNAME
           ,PROGRAM.PROGTYPE    AS PROGTYPE
           ,PROGRAM.INQFLAG     AS INQFLAG
           ,PROGRAM.NEWFLAG     AS NEWFLAG
           ,PROGRAM.DELFLAG     AS DELFLAG
           ,PROGRAM.SAVEFLAG     AS SAVEFLAG
           ,PROGRAM.EXCELFLAG   AS EXCELFLAG
           ,PROGRAM.PRNFLAG     AS PRNFLAG
           ,PROGRAM.NAMESPACE   AS NAMESPACE
           ,PROGRAM.FILEID      AS FILEID
           ,PROGRAM.REMARK      AS PROGRAMREMARK
    FROM TSY0200 MENU WITH(NOLOCK)   
    LEFT OUTER JOIN TSY0100 PROGRAM WITH(NOLOCK)  
      ON MENU.PROGRAMID = PROGRAM.PROGRAMID  
     AND  MENU.WORKERID  = PROGRAM.WORKERID  
   WHERE MENU.WORKERID = @WORKERID  
  --  AND MENU.SYSTEMID=@SYSTEMID
    -- ORDER BY MENU.SORT  
      ) T
    WHERE T.ROWNO BETWEEN  @STARTROW AND  @ENDROW

/**********************************************************/   
        SELECT @TOTALRECODRDS = COUNT(*)
           FROM TSY0200 MENU WITH(NOLOCK)   
    LEFT OUTER JOIN TSY0100 PROGRAM WITH(NOLOCK)  
      ON MENU.PROGRAMID = PROGRAM.PROGRAMID  
     AND MENU.WORKERID  = PROGRAM.WORKERID  
   WHERE MENU.WORKERID = @WORKERID  
     AND MENU.SYSTEMID=@SYSTEMID
      
  SELECT @RS_CODE = 'S'
 
  END TRY
                                
  BEGIN CATCH
      SELECT @RS_CODE = 'E'
    SELECT @RS_MSG  = ERROR_MESSAGE()
  END CATCH  
END
GO
