USE [KFQS_MES_2021]
GO
/****** Object:  StoredProcedure [dbo].[USP_ZA0000_S1_FIND]    Script Date: 2021-06-22 오후 5:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_ZA0000_S1_FIND]
(
   @WORKERID         VARCHAR(30)
  ,@SYSTEMID		 VARCHAR(50)
  ,@FINDTEXT		 VARCHAR(30)
  ,@LANG             VARCHAR(10)
  ,@RS_CODE          VARCHAR(1) OUTPUT
  ,@RS_MSG           VARCHAR(200) OUTPUT 
)
AS
BEGIN
 	DECLARE @CNT          INTEGER
	DECLARE @GRPID        VARCHAR(20)
	
    SELECT @CNT = COUNT(*)
      FROM TSY0300
     WHERE WORKERID = @WORKERID;
        
    IF @CNT > 0
    BEGIN
    	SELECT @GRPID = CASE WHEN ISNULL(GRPID, '') = '' THEN NULL ELSE GRPID END
          FROM TSY0300
         WHERE WORKERID = @WORKERID;
    END
    
    ;WITH TREE AS
	(
		 SELECT MENU.MENUID
	        ,DBO.FN_TRANSLATE(@LANG, MENU.MENUNAME ,@GRPID) AS MENUNAME
	        ,MENU.PARMENUID
	        ,MENU.SORT
	        ,MENU.PROGRAMID
		    ,MENU.MENUTYPE
		    ,PROGRAM.NAMESPACE	  
	        ,PROGRAM.FILEID
	    FROM TSY0200 MENU LEFT OUTER JOIN TSY0100 PROGRAM
	                                   ON MENU.PROGRAMID = PROGRAM.PROGRAMID        
	                                  AND MENU.WORKERID = PROGRAM.WORKERID
                                      AND PROGRAM.WORKERID = ISNULL(@GRPID, @WORKERID)
	   WHERE MENU.WORKERID = ISNULL(@GRPID, @WORKERID)
	     AND MENU.USEFLAG  = 'Y'
	     AND MENU.MENUNAME LIKE  '%' + @FINDTEXT + '%'
	     AND MENU.SYSTEMID = @SYSTEMID
		 UNION ALL
		 
		 SELECT CHILD.MENUID
	        ,DBO.FN_TRANSLATE(@LANG, CHILD.MENUNAME ,@GRPID) AS MENUNAME
	        ,CHILD.PARMENUID
	        ,CHILD.SORT
	        ,CHILD.PROGRAMID
		    ,CHILD.MENUTYPE
		    ,NULL AS NAMESPACE	  
	        ,NULL AS FILEID
	    FROM TSY0200 CHILD JOIN TREE AS A
			 ON CHILD.MENUID = A.PARMENUID
	   WHERE CHILD.WORKERID = ISNULL(@GRPID, @WORKERID)
	     AND CHILD.USEFLAG  = 'Y'
	     AND CHILD.SYSTEMID = @SYSTEMID
	)
	SELECT DISTINCT * FROM TREE 
	 ORDER BY SORT
	RETURN
END
GO
