USE [KFQS_MES_2021]
GO
/****** Object:  StoredProcedure [dbo].[SPROC_ProgramList_I1]    Script Date: 2021-06-22 오후 5:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPROC_ProgramList_I1]
(
     @PROGRAMID   VARCHAR(50)
    ,@PROGRAMNAME VARCHAR(255)
    ,@PROGTYPE    VARCHAR(255)
    ,@INQFLAG     BIT
    ,@NEWFLAG     BIT
    ,@SAVEFLAG    BIT
    ,@DELFLAG     BIT
    ,@EXCELFLAG   BIT
    ,@PRNFLAG     BIT
    ,@FILEID      VARCHAR(255)
    ,@NAMESPACE   VARCHAR(255)
    ,@DEVELOPER   VARCHAR(255)
    ,@CONTACT     VARCHAR(255)
    ,@AUTHDATE    VARCHAR(8)
    ,@PARAM       VARCHAR(255)
    ,@USEFLAG     VARCHAR(1)
    ,@REMARK      VARCHAR(255)
    ,@MAKER       VARCHAR(20)
    ,@EDITOR      VARCHAR(20)
    ,@SYSTEMID    VARCHAR(20)
    ,@UIDNAME     VARCHAR(200)
    ,@TOPICID     INT
    ,@LANG        VARCHAR(5)
    ,@RS_CODE     VARCHAR(1)      OUTPUT
    ,@RS_MSG      VARCHAR(200)    OUTPUT  
)
AS
BEGIN
	BEGIN TRY 
    	IF (@LANG='KO')
      	BEGIN
      		EXEC SPROC_TransLang_I1 @LANG,@PROGRAMNAME,'SY_ProgramList'
      	END

       	INSERT INTO SYSPROGRAMLIST (PROGRAMID,WORKERID,PROGRAMNAME,PROGTYPE
       	                           ,INQFLAG,NEWFLAG,SAVEFLAG,DELFLAG,EXCELFLAG,PRNFLAG
       	                           ,FILEID,NAMESPACE,DEVELOPER,CONTACT,AUTHDATE,PARAM,USEFLAG,REMARK,MAKEDATE,MAKER,SYSTEMID,TOPICID)
            	        	 VALUES(@PROGRAMID,@MAKER, @PROGRAMNAME,@PROGTYPE 
            	        	       ,@INQFLAG ,@NEWFLAG ,@SAVEFLAG,@DELFLAG ,@EXCELFLAG ,@PRNFLAG
            	        	       ,@FILEID ,@NAMESPACE,@DEVELOPER,@CONTACT ,@AUTHDATE,@PARAM ,@USEFLAG ,@REMARK,GETDATE(),@MAKER,@SYSTEMID,@TOPICID)
        SELECT @RS_CODE = 'S'
    END TRY	
	BEGIN CATCH
	    SELECT @RS_CODE = 'E'
		SELECT @RS_MSG = ERROR_MESSAGE()
		
		INSERT INTO ERRORMESSAGE ( NAME, ERROR, ELINE, MESSAGE, DATE )
			SELECT ERROR_PROCEDURE() AS ERRORPROCEDURE
				 , ERROR_NUMBER() AS ERRORNUMBER
				 , ERROR_LINE() AS ERRORLINE
				 , ERROR_MESSAGE() AS ERRORMESSAGE
				 , GETDATE()
	END CATCH
END
GO
