USE [KFQS_MES_2021]
GO
/****** Object:  StoredProcedure [dbo].[SPROC_ItemMaster_Pop]    Script Date: 2021-06-22 오후 5:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPROC_ItemMaster_Pop]  
(  
     @PLANTCODE  VARCHAR(10)
    ,@ITEMCODE  VARCHAR(30)  
    ,@ITEMNAME  VARCHAR(30)
    ,@ITEMTYPE  VARCHAR(10) 
    ,@LANG      VARCHAR(10)
    ,@RS_CODE   VARCHAR(1) OUTPUT
    ,@RS_MSG    VARCHAR(200) OUTPUT 
)  
AS  
 SELECT @PLANTCODE = RTRIM(LTRIM(ISNULL(@PLANTCODE, '')))  
       ,@ITEMCODE  = RTRIM(LTRIM(ISNULL(@ITEMCODE, '')))  
       ,@ITEMNAME  = RTRIM(LTRIM(ISNULL(@ITEMNAME, '')))  
       ,@ITEMTYPE  = RTRIM(LTRIM(ISNULL(@ITEMTYPE, '')))  
BEGIN  
   
	BEGIN TRY  
	BEGIN  
		SELECT PLANTCODE, ITEMCODE
		     ,ITEMNAME AS ITEMNAME  
			,CASE WHEN ISNULL(ITEMTYPE, '') = '' THEN ''  
		ELSE '[' + ITEMTYPE + '] ' + DBO.FN_CODENAME('ITEMTYPE', ITEMTYPE,@LANG) END AS ITEMTYPE   
		FROM TB_ItemMaster WITH(NOLOCK)  
		WHERE PLANTCODE LIKE @PLANTCODE + '%'  
		AND  ITEMCODE  LIKE @ITEMCODE + '%'  
		AND  ITEMNAME  LIKE @ITEMNAME + '%' 
		AND  ITEMTYPE  LIKE @ITEMTYPE + '%'
	END

		SELECT @RS_CODE = 'S'
	END TRY
                                
	BEGIN CATCH
	    SELECT @RS_CODE = 'E'
		SELECT @RS_MSG 	= ERROR_MESSAGE()
	END CATCH                
END
 
GO
