USE [KFQS_MES_2021]
GO
/****** Object:  StoredProcedure [dbo].[USP_SY0101_I1]    Script Date: 2021-06-22 오후 5:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_SY0101_I1]
(
	   @AS_WORKERID         VARCHAR(50)
	  ,@AS_MENUID           VARCHAR(50)
	  ,@AS_MENUNAME         VARCHAR(255)  
	  ,@AS_PARMENUID        VARCHAR(50)
	  ,@AS_SORT             INT
	  ,@AS_PROGRAMID        VARCHAR(10)
	  ,@AS_MENUTYPE         VARCHAR(5)
	  ,@AS_USEFLAG          VARCHAR(1)
	  ,@AS_REMARK           VARCHAR(500)
	  ,@AS_MAKER            VARCHAR(10)
	  ,@AS_EDITOR           VARCHAR(10)
	  ,@AS_PROGRAMNAME      VARCHAR(255)
	  ,@AS_PROGTYPE         VARCHAR(255)
	  ,@AS_FILEID           VARCHAR(255)
	  ,@AS_NAMESPACE        VARCHAR(255)
	  ,@AS_INQFLAG	        BIT
	  ,@AS_NEWFLAG	        BIT
	  ,@AS_DELFLAG	        BIT
	  ,@AS_SAVEFLAG         BIT
	  ,@AS_EXCELFLAG	    BIT
	  ,@AS_PRNFLAG	        BIT
	  ,@AS_PROGRAMREMARK    VARCHAR(255)
	  ,@AS_SYSTEMID			VARCHAR(50)
      ,@LANG             	VARCHAR(5) = 'KO'
	  ,@RS_CODE             VARCHAR(1)   OUTPUT
      ,@RS_MSG              VARCHAR(200) OUTPUT     
)
AS
BEGIN
	DECLARE @V_STAMP DATETIME
	
	BEGIN TRY
	    SELECT @RS_CODE = 'S', @V_STAMP = GETDATE()
	 
		SELECT @AS_MENUID = ISNULL(MAX(MENUID), 0) + 1
		  FROM TSY0200
		 WHERE WORKERID 	= @AS_WORKERID
		
		-- 1. 메뉴타입을 프로그램이 아닌 메뉴로 선택하였을경우 프로그램 아이디를 변경 처리
		IF @AS_MENUTYPE = 'M'
		BEGIN
			SET @AS_PROGRAMID = 'M' + @AS_MENUID
		END
		
		-- 2. 메뉴 정보 추가
	    INSERT INTO TSY0200(MENUID,  WORKERID,  MENUNAME,  PARMENUID,  SORT,  PROGRAMID,  MENUTYPE,  USEFLAG,  REMARK,  MAKER,  MAKEDATE, SYSTEMID )  
	     			 VALUES(@AS_MENUID, @AS_WORKERID, @AS_MENUNAME, @AS_PARMENUID, @AS_SORT, @AS_PROGRAMID, @AS_MENUTYPE, @AS_USEFLAG, @AS_REMARK, @AS_MAKER, @V_STAMP, @AS_SYSTEMID );
	    
	    -- 3. 프로그램 정보일 경우 사용자의 프로그램 정보 추가(프로그램 정보가 존재 하지 않을 경우)
	    IF @AS_PROGTYPE = 'P' AND @AS_MENUTYPE = 'P'
	    BEGIN
	    	IF NOT EXISTS(SELECT 1 FROM TSY0100 WHERE PROGRAMID = @AS_PROGRAMID AND WORKERID = @AS_WORKERID)
		    	INSERT INTO TSY0100(PROGRAMID, WORKERID, PROGRAMNAME, PROGTYPE
		    					  , INQFLAG, NEWFLAG, SAVEFLAG, DELFLAG, EXCELFLAG, PRNFLAG
		    					  , FILEID, NAMESPACE, USEFLAG, REMARK, MAKEDATE, MAKER, SYSTEMID )
			     			 VALUES(@AS_PROGRAMID, @AS_WORKERID, @AS_PROGRAMNAME, @AS_PROGTYPE
			     				  , @AS_INQFLAG, @AS_NEWFLAG, @AS_SAVEFLAG, @AS_DELFLAG, @AS_EXCELFLAG, @AS_PRNFLAG
			     				  , @AS_FILEID, @AS_NAMESPACE, @AS_USEFLAG, @AS_PROGRAMREMARK, @V_STAMP, @AS_MAKER, @AS_SYSTEMID )
	    END
	    
	END TRY
                                
	BEGIN CATCH
	    SELECT @RS_CODE = 'E'
		SELECT @RS_MSG 	= ERROR_MESSAGE()
		
		INSERT INTO ERRORMESSAGE ( NAME, ERROR, ELINE, MESSAGE, DATE )
			SELECT ERROR_PROCEDURE() AS ERRORPROCEDURE
				 , ERROR_NUMBER() AS ERRORNUMBER
				 , ERROR_LINE() AS ERRORLINE
				 , ERROR_MESSAGE() AS ERRORMESSAGE
				 , GETDATE()
	END CATCH  
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DESCRIPTION', @value=N'[시스템]사용자권한관리' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'USP_SY0101_I1'
GO
