USE [KFQS_MES_2021]
GO
/****** Object:  StoredProcedure [dbo].[USP_SY0800_S1]    Script Date: 2021-06-22 오후 5:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_SY0800_S1]
(
    @GRPID 		VARCHAR(20)
   ,@GRPNAME 	VARCHAR(50)
   ,@LANG		VARCHAR(10) = 'KO'
   ,@RS_CODE	VARCHAR(1) OUTPUT
   ,@RS_MSG		VARCHAR(100) OUTPUT
)
AS
BEGIN
    SELECT GRPID, GRPNAME, MAKER, MAKEDATE, EDITOR, EDITDATE, DISPLAYNO
      FROM TSY0310 WITH(NOLOCK)
     WHERE GRPID LIKE @GRPID + '%'
       AND GRPNAME LIKE @GRPNAME + '%'
 RETURN
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DESCRIPTION', @value=N'[시스템]그룹관리' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'USP_SY0800_S1'
GO
