USE [KFQS_MES_2021]
GO
/****** Object:  StoredProcedure [dbo].[17AP_ProductPlan_U1]    Script Date: 2021-06-22 오후 5:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		이해창
-- Create date: 2021-06-09
-- Description:	생산 계획 편성
-- =============================================
CREATE PROCEDURE [dbo].[17AP_ProductPlan_U1]
	 @PLANTCODE        VARCHAR(10)            -- 공장
	,@PLANNO	       VARCHAR(20)		      -- 계획 번호
	,@ORDERFLAG        VARCHAR(1)             -- 계획 수량
	,@EDITOR		   VARCHAR(10)			  -- 단위

	,@LANG             VARCHAR(5) = 'KO' 
	,@RS_CODE          VARCHAR(1)   OUTPUT
	,@RS_MSG           VARCHAR(200) OUTPUT
AS
BEGIN													   
	   IF (@ORDERFLAG = 'N')  -- 확정 내역을 취소할 경우
	   BEGIN
			UPDATE TB_ProductPlan
			   SET ORDERNO     = NULL
			      ,ORDERDATE   = NULL
				  ,ORDERWORKER = NULL
				  ,ORDERFLAG   = NULL
				  ,EDITDATE    = GETDATE()
				  ,EDITOR      = @EDITOR
			 WHERE PLANTCODE   = @PLANTCODE
			   AND PLANNO      = @PLANNO
	   END

	   ELSE IF (@ORDERFLAG = 'Y')
	   BEGIN
			DECLARE @LS_ORDERNO VARCHAR(20)
			    SET @LS_ORDERNO = 'OR' + CONVERT(VARCHAR,GETDATE(),112) + RIGHT(@PLANNO,4)
			UPDATE TB_ProductPlan
			   SET ORDERFLAG   = 'Y'
			      ,ORDERWORKER = @EDITOR
				  ,ORDERDATE   = CONVERT(VARCHAR, GETDATE(), 23)
				  ,ORDERNO     = @LS_ORDERNO
				  ,EDITDATE    = GETDATE()
				  ,EDITOR      = @EDITOR
			 WHERE PLANTCODE   = @PLANTCODE
			   AND PLANNO      = @PLANNO
	   END
     
	 SET @RS_CODE = 'S'
END
GO
