USE [KFQS_MES_2021]
GO
/****** Object:  StoredProcedure [dbo].[24WM_StockWM_U1]    Script Date: 2021-06-22 오후 5:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		홍건의
-- Create date: 2021-06-16
-- Description:	상차 등록 조회
-- =============================================
CREATE PROCEDURE [dbo].[24WM_StockWM_U1]
	 @PLANTCODE	     VARCHAR(10)
	,@ITEMCODE	     VARCHAR(10)
    ,@LOTNO		     VARCHAR(30)
	,@STOCKQTY       VARCHAR(10)
	,@CUSTCODE       VARCHAR(10)
	,@WORKER         VARCHAR(10)
	,@CARNO			 VARCHAR(10)


    ,@LANG           VARCHAR(10)  = 'KO'
    ,@RS_CODE        VARCHAR(1)   OUTPUT
    ,@RS_MSG         VARCHAR(200) OUTPUT
AS
BEGIN
	DECLARE @LD_NOWTIME DATETIME
	       ,@LS_NOWDATE VARCHAR(10)
	    SET @LD_NOWTIME = GETDATE()
		SET @LS_NOWDATE = CONVERT(VARCHAR,GETDATE(),23)

	IF (SELECT SHIPFLAG
		  FROM TB_StockWM WITH(NOLOCK)
	     WHERE PLANTCODE = @PLANTCODE
		   AND LOTNO = @LOTNO) = 'Y'
	   BEGIN
		  SET @RS_CODE = 'E'
		  SET @RS_MSG  = '이미 상차된 내역입니다.'
		  RETURN
	   END

	DECLARE @LI_SHIPSEQ    INT
		   ,@LS_SHIPNO      VARCHAR(30)
		   

	SET @LS_SHIPNO = 'SHIP' +  REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR,GETDATE(),120),'-',''),':',''),' ','')

	UPDATE TB_StockWM
	   SET SHIPFLAG  = 'Y'
	 WHERE PLANTCODE = @PLANTCODE 
	   AND LOTNO     = @LOTNO


	INSERT INTO TB_SHIPWM (PLANTCODE, SHIPNO, CARNO, SHIPDATE, CUSTCODE, WORKER, MAKEDATE, MAKER)
				   VALUES ( @PLANTCODE, @LS_SHIPNO, @CARNO, @LS_NOWDATE, @CUSTCODE, @WORKER, @LD_NOWTIME, @WORKER)

	SELECT @LI_SHIPSEQ = ISNULL(MAX(SHIPSEQ),0) + 1
	  FROM TB_SHIPWM_B WITH(NOLOCK) 
	 WHERE PLANTCODE = @PLANTCODE 
	   AND SHIPNO = @LS_SHIPNO 
	INSERT INTO TB_SHIPWM_B (PLANTCODE, SHIPNO, SHIPSEQ, LOTNO, ITEMCODE, SHIPQTY, MAKEDATE, MAKER)
		             VALUES (@PLANTCODE, @LS_SHIPNO, @LI_SHIPSEQ, @LOTNO, @ITEMCODE, @STOCKQTY, @LD_NOWTIME, @WORKER)



END

GO
