USE [KFQS_MES_2021]
GO
/****** Object:  StoredProcedure [dbo].[USP_ZGETMESSAGEDESC_S]    Script Date: 2021-06-22 오후 5:42:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_ZGETMESSAGEDESC_S]
(
	   @MESSAGEID           VARCHAR(30)
      ,@LANG				VARCHAR(10) = 'KO'
)
AS
BEGIN
  SELECT DBO.FN_TRANSLATE(@LANG,MESSAGEDESC,'MSG')
    FROM TB_SystemMessage
   WHERE MESSAGEID  = @MESSAGEID;
END


GO
