USE [KFQS_MES_2021]
GO
/****** Object:  StoredProcedure [dbo].[19PP_Stock_PP_U1]    Script Date: 2021-06-22 오후 5:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		장준기
-- Create date: 2021-06-10
-- Description:	공정 창고 관리 업데이트
-- =============================================
CREATE PROCEDURE [dbo].[19PP_Stock_PP_U1]
  @PLANTCODE       VARCHAR(10),      -- 공장번호
  @LOTNO     	   VARCHAR(30), 	 -- LOT 번호
  @ITEMCODE    	   VARCHAR(30), 	 -- 품목코드
  @QTY             FLOAT,            -- 수량
  @UNITCODE        VARCHAR(5), 	     -- 단위
  @WORKERID        VARCHAR(10), 	 -- 담당자
 
  @LANG      VARCHAR(10) ='KO',
  @RS_CODE   VARCHAR(1) OUTPUT,
  @RS_MSG    VARCHAR(200) OUTPUT

AS
BEGIN TRY
--현재시간 정의
    DECLARE @LD_NOWTIME DATETIME
	       ,@LS_NOWDATE VARCHAR(10)
	    SET @LD_NOWTIME = GETDATE()
		SET @LS_NOWDATE = CONVERT(VARCHAR,GETDATE(),23)

-- 공정 재고 삭제
	DELETE TB_StockPP
	 WHERE PLANTCODE = @PLANTCODE
	   AND LOTNO     = @LOTNO

-- 공정 재고 출고 이력 생성
    DECLARE @INOUTSEQ_PP    INT
	      , @RECDATE        VARCHAR(30)
		  , @WHCODE         VARCHAR(30)

	SELECT @INOUTSEQ_PP = ISNULL(MAX(INOUTSEQ),0)+1
	  FROM TB_StockPPrec WITH(NOLOCK)
	 WHERE PLANTCODE = @PLANTCODE
	   AND @RECDATE  = @LS_NOWDATE

	INSERT INTO TB_StockPPrec
	( PLANTCODE, INOUTSEQ, RECDATE, LOTNO, ITEMCODE , WHCODE
	, INOUTFLAG,INOUTQTY, UNITCODE, INOUTCODE , MAKEDATE, MAKER)
	VALUES
	( @PLANTCODE, @INOUTSEQ_PP,@LS_NOWDATE, @LOTNO, @ITEMCODE, 'WH003'
	, 'OUT', @QTY, @UNITCODE, '25', @LD_NOWTIME,@WORKERID)



-- 자재 창고 입고이력 등록
-- 출고 이력 순번 채번
	DECLARE @INOUTSEQ INT
	SELECT @INOUTSEQ = ISNULL(MAX(@INOUTSEQ),0)+1
	  FROM TB_StockMMrec WITH (NOLOCK)
	 WHERE PLANTCODE = @PLANTCODE
	   AND INOUTDATE = @LS_NOWDATE

-- 자재 입고 이력 등록

	INSERT INTO TB_StockMMrec
	( PLANTCODE, MATLOTNO, INOUTCODE, INOUTQTY, INOUTDATE, INOUTWORKER, INOUTSEQ, WHCODE,INOUTFLAG ,MAKEDATE, MAKER)
	VALUES
	( @PLANTCODE, @LOTNO , '25'     , @QTY    , @LS_NOWDATE,@WORKERID ,@INOUTSEQ,'WH001','IN',  @LD_NOWTIME, @WORKERID)

	-- 자재 창고 재고 등록

	INSERT INTO TB_StockMM
	( PLANTCODE, MATLOTNO, WHCODE, ITEMCODE, STOCKQTY, UNITCODE, MAKEDATE, MAKER)
	VALUES
	( @PLANTCODE, @LOTNO, 'WH001', @ITEMCODE, @QTY, @UNITCODE, @LD_NOWTIME, @WORKERID)

	SELECT @RS_CODE = 'S'

END TRY

BEGIN CATCH

     SELECT  @RS_MSG = ERROR_MESSAGE()
     SELECT  @RS_CODE = 'E'      
	 
END CATCH   
GO
