USE [KFQS_MES_2021]
GO
/****** Object:  StoredProcedure [dbo].[01PP_WCTRunStopList_U1]    Script Date: 2021-06-22 오후 5:42:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		강유정
-- Create date: 2021-06-15
-- Description:	작업장 비가동 현황 및 사유 관리 등록
-- =============================================
CREATE PROCEDURE [dbo].[01PP_WCTRunStopList_U1]
	 @PLANTCODE      VARCHAR(10)  --공장
	,@WORKCENTERCODE VARCHAR(30)  --작업장
	,@ORDERNO        VARCHAR(30)  --작업계획번호
	,@REMARK         VARCHAR(30)  --사유
    ,@RSSEQ          INT	

	,@LANG     VARCHAR(5) = 'KO'
    ,@RS_CODE  VARCHAR(1)   OUTPUT
    ,@RS_MSG   VARCHAR(200) OUTPUT
AS
BEGIN 
	
	UPDATE TP_WorkcenterStatusReC
	   SET REMARK         = @REMARK
	 WHERE PLANTCODE      = @PLANTCODE
	   AND WORKCENTERCODE = @WORKCENTERCODE
	   AND ORDERNO        = @ORDERNO
	   AND RSSEQ          = @RSSEQ
	SET @RS_CODE = 'S'
END
GO
